[submodule "fastARG"]
	path = fastARG
	url = https://github.com/hyanwong/fastARG
[submodule "msprime"]
	path = msprime
	url = https://github.com/jeromekelleher/msprime
[submodule "argweaver"]
	path = argweaver
	url = https://github.com/mdrasmus/argweaver
